.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .container {
    display: flex;
    align-items: center;
    .or-span {
      margin: 0px 20px 0px 20px;
    }

    .google-img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      margin-left: 20px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
